.extra-small {
    font-size: 50%;
}

.btn-outline-primary {
    border-radius: 0%;
    width: 50%;
    color: black;
    border: 0.5px solid;
    line-height: 0.5rem;
}

.btn-outline-primary:hover {
    color: #5A494B;
    border-color: white;
    background-color: #D8FAF6;
    border: 0.5px solid transparent;
}

.d-block {
    color: #DFA0A6;
}

.d-block:hover {
    color: #5A494B;
}

.carousel-control-prev {
    color: black;
}